* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgba(225, 225, 225, 0.9);
}

.carousel-indicators {
    width: 85%;
    margin: auto;
}

#top-carousel-inner {
    height: 100svh;
}


/* slider css */
.slider-container {
    width: 1400px;
    height: 230px;
    margin: auto;
    overflow: hidden;
}

.slider-inner {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.slider-item {
    width: 350px;
    height: 230px;
    padding: 10px;
}

.slider-inner img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #top-carousel-inner {
        height: auto;
    }

    
}